/* body {
  font-family: sans-serif;
} */

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 20px;
  /* padding-top: 20px; */
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(143, 143, 143);
  width: 500px;
  height: 600px;
}

.title-app {
  font-size: 28px;
  color: white;
  font-family: "JetBrains Mono", monospace;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.parameters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.button-field {
  display: flex;
  justify-content: flex-end;
}

#currency-field {
  text-align: right;
}

.button-app {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 30px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
  /* position: relative; */
  text-align: left;
  text-decoration: none;
  /* transition: box-shadow .15s,transform .15s; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-app:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-app:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-app:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
